# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# misc
Makefile
.libs
.deps
stamp-h1
autom4te.cache
config.h
config.log
config.status
*.pc
libtool
test/test-address

# autogen temp files
Makefile.in
*/Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
